{% extends "Edispose/base.html" %}
{% load static %}
{% block content%}
    
<style>
    body {
        text-align: center;
        text-align: center;
    font-family: 'Poppins', sans-serif;
    }
    
    #Paragraph {
        width: 600px;
        margin: 0 auto 0 auto;
        text-align: center;
        background-color: #B9EDDA;
        padding-bottom: 50px;
    }

    h1 {
        background-color: #95c0ff;
    }

    img {
        margin-top: 25px;
        margin-bottom: 25px;
    }

  
</style>

<a class="navbar-brand" href="Index.html">E-Dispose</a>
<h1>About Us</h1>

<div id="Paragraph">
  <img src="https://i.natgeofe.com/n/69b5b7dc-02c3-47b3-8063-781268ebab1e/01-e-waste-millions-tons.jpg" class="aboutusimg" alt="" height="250" width="400">
  <br>
  By 2030,  the global total is likely to swell to 74.7 million tonnes, almost a doubling of the annual amount of new e-waste in just 16 years. This makes it the world's fastest growing domestic waste stream, fuelled mainly by more people buying electronic products with shorter life cycles and fewer options for repair.
    Electronic waste is emerging as a serious public health and environmental issue in India. India is the "fifth largest electronic waste producer in the world"; approximately 2 million tons of e-waste are generated annually and an undisclosed amount of e-waste is imported from other countries around the world.
    Japan was one of the first countries to implement an electronic waste recycling program.
    The Program of E-Dispose is meant to be developed for a Better and Cleaner Future of India.
    <br>
</div>
{% endblock content %}
