{% extends "Edispose/base.html" %}
{% load static %}
{% block content%}
    
<style>

    h1 {
      background-color: #95c0ff;
      padding: 20px;
      margin-bottom: 25px;
    }

    h2 {
      background-color: white;
      display: inline-block;
    }
  </style>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->

  
<div class= "QnA">
  <h1>Frequenty Asked Questions (Citizens)</h1>
  <h2>What is E-waste?</h2>
  <p>E-waste refers to electronic products nearing the end of their "useful life", for example, computers, televisions, VCRs, stereos, copiers, and fax machines. </p>
  <h2>Q. What is the Electronic Waste Recycling Act? </h2>
  <p>Ans. E-waste is to be regulated by E-Waste Management Rule 2016 issued by Central Pollution Control Board (CPCB),Government of India. For more information on this law and its implementation, please see the link http://cpcb.nic.in/displaypdf.php</p>
  <h2>. How do I recycle and dispose of electronic scrap? </h2>
  <p>Ans. Since electronic waste is subject to India's hazardous waste regulations, it must be reused, recycled, or disposed of properly. Please do not put these items in the garbage or recycle bins. You may login into the application using your Mobile Number. We will contact you and collect the e-waste from your premises and pay you for that. </p>
  <h2>Q. Who can sell e-waste through this Application? </h2>
  <p>Ans. Any Citizen residing in NDMC Area can sell his/her E-waste through this application. </p>
  <h2>Q. What are the rates of E-Waste items? </h2>
  <p>Ans. Payment Shall be done by the vendor to you as per rates given in the "List of Approved rates of E-waste Items". The rates may be seen after register into the application. </p>
</div>

{% endblock content %}
